@{
    ViewBag.Title = "Kontakt";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<h2>Klemavet d.o.o.</h2>
<address>
    Dolenjska cesta 242,<br />
    1000 Ljubljana<br />
    
</address>

<address>
    <strong>Spletna stran: </strong><a href="https://www.klemavet.si" target="_blank">klemavet.si</a><br />
    <strong>Mail:</strong>   <a href="mailto:info@klemavet.si">info@klemavet.si</a><br />
    <strong>Tel:</strong> <a href="tel:+38670644787">070 644 787</a><br/>
    <b><a href="https://www.klemavet.si/povprasevanje/">Pošljite povpraševanje</a></b>
</address>
